<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="/assets/js/post.js" type='text/javascript'></script>
    <link rel="stylesheet" href="/assets/css/index.css"> 
    <title>Wonder Wall</title>
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <h2>Wonder Wall</h2>
            <span>Welcome, <%= user_data.first_name %>!</span>
            <span><a href="/logout">Logout</a></span>
        </div>

        <div id="message_form">
            <h3>Post a message</h3>
            <form id="add_message" action="/add_message" method="post">
                <textarea name="message" id="" cols="50" rows="4"></textarea>
                <input type="submit" value="Post a message">
            </form>
        </div>

        <ul id="main_wall">
            <% for(let ctr=0; ctr < messages.length; ctr++){%>
                <li>
                    <span><%= messages[ctr].name %> - <%= moment(messages[ctr].created_at).format('MMMM, D, YYYY') %></span>
                    <p><%= messages[ctr].message %></p>
                    <% if(messages[ctr].user_id === user_data.id){ %>
                        <a href="#" data-attr-message-id="<%= messages[ctr].id %>" class="delete_message">Delete Message</a>
                    <% } %>
                </li>

                <form class="add_comment" action="/add_comment" method="post">
                    <input type="hidden" name="message_id" value="<%= messages[ctr].id %>>">
                    <textarea name="comment" id="" cols="50" rows="4" placeholder="Type your comment here"></textarea>
                    <input type="submit" value="Post a comment">
                </form>
                <ul>
                    <% if (messages[ctr].comments){ %>

                        <% let comments = JSON.parse(messages[ctr].comments)  %>

                        <% for(let ctr2=0; ctr2 < comments.length; ctr2++){%>
                            <li>
                                <span><%= comments[ctr2].commenter %> - <%= moment(comments[ctr2].comment_created_at).format('MMMM, D, YYYY') %></span>
                                <p><%= comments[ctr2].comment %></p>
                            </li>
                            <% if(comments[ctr2].user_id === user_data.id){ %>
                                <a href="#" data-attr-comment-id="<%= comments[ctr2].comment_id %>" class="delete_comment">Delete Comment</a>
                            <% } %>
                        <% } %>
                    <% } %>  
                </ul>
            <% } %>
        </ul>
    </div>
</body>
</html>